@import url('https://fonts.googleapis.com/css2? family= Righteous & family= Sarala:wght@700 & display=swap');


* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background:  #ffff/*linear-gradient(68.15deg, #2f2325 16.62%, #ffffff 85.61%);*/
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}
.cabecalho-imagem{
    height: 72px;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 400px;
}

.imagem-redesocial{
    width: 40px;
    
}
.conteudo{
    border-top: 0.4px solid #000000;
    margin-bottom: 48px

}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    color: #000000;
    font-weight: 400px;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'sarala',sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #000000;

}
.conteudo-principal-escrito-botao{
    background-color: #000000;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba( 0, 0, 0, 0.25);
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
   
}
.conteudo-principal-escrito-botao:hover{
    background-color: #ffffff;
    color: #000000;
}

.conteudo-principal-imagem{
    height: 430px;

}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #000000;
    padding: 48px;
    font-family:'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #000000;
}
.conteudo-secundario-lista{
    font-family:'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #000000;

}
.rodape{
    border-top: 0.4px solid #000000;
    color: #000000;
   text-align: center;
   padding: 24px;
   font-weight: 400px;
}